torch
transformers @ git+https://github.com/huggingface/transformers.git@main 
datasets
accelerate
evaluate
peft @ git+https://github.com/huggingface/peft
sentencepiece != 0.1.92
seqeval
protobuf
scikit-learn
pytest
ipykernel
ipywidgets
tqdm
zstandard
wandb
huggingface_hub
safetensors
bitsandbytes
nltk
rouge_score
absl-py
jupyter
sentence-transformers
wrapt-timeout-decorator
retry
openai
tiktoken
Cython
gdown
langdetect
googletrans-python
Flask